* {
  margin: 0;
}

/* Header */

.seaction1 {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}
.nav {
  width: 100%;
  justify-content: space-between;
}
.icon-box {
  width: 48px;
  height: 48px;
  justify-content: center;
}

/* Hero Text  */
.container {
  display: flex;
  height: 73px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #fff;
}

.font {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  font-family: Inter;
}

.conttext {
  display: flex;
  width: 100%;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
}

/* Picture 1 */

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid #fff;
}

.figuree1 {
  width: 100%;
  height: 500px;
  display: flex;
  padding-bottom: 22px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 12px solid #fff;
  background-image: url(/Figure@2x.png);
  background-size: cover;
  padding-top: 58px;
}

.frame24 {
  display: flex;
  width: 241px;
  height: 114px;
  flex-direction: column;
  gap: 16px;
}

.frame244 {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.titlef {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.title2 {
  color: #f5f5f7;
  text-align: center;
  width: 241px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.learnmore {
  display: flex;
  padding: 8px;
  width: 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}

.learnmoree {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}

.fontts {
  color: #fff;
}

.fonttts {
  color: #2997ff;
}

/* Background 2  */

.background2 {
  width: 100%;
  height: 500px;
  background-image: url(/Figuure.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frame5 {
  height: 114px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.frame245 {
  height: 62px;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ffont {
  color: #f5f5f7;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.fffonts {
  color: #f5f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.both {
  text-align: center;
  font-family: "inter";
  font-style: normal;
}

.lmcolor {
  border-radius: 999px;
  background: #fff;
}

.bcolor {
  border-radius: 999px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.letter {
  width: 66;
  height: 36;
  border-radius: 999px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.learnmoreey {
  width: 107;
  height: 36;
  border-radius: 999px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: rgba(255, 255, 255, 1);
  gap: 10px;
}

/* Background 3 */

.background3 {
  background-image: url(/Figure.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ipadairtext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.frame4 {
  display: flex;
  width: 241px;
  height: 130px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.broth {
  display: flex;
  text-align: center;
  font-family: Inter;
  font-style: normal;
}
.spacingpage2 {
  display: flex;
  padding-top: 48px;
}

.ipadbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.center {
  justify-content: center;
}
.frame231 {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

.ffffonts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  color: #000;
  width: 100%;
}
.desktopapple {
  width: 405px;
  height: 164px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.headersec {
  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.gmfont {
  font-family: Inter;
  font-weight: 600;
  align-self: center;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
}
/* Background 4 */

.background4 {
  background-image: url(/human.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frame25 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  height: 470px;
  align-items: center;
}

.titlep {
  color: #f5f5f7;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
}
.buttonn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 241px;
}

/* Background 5 */

.background5 {
  background-image: url(/watch.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.botth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.frameb61 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.frameb5 {
  display: flex;
  width: 235px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fonts5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  width: 145px;
}
.botherr {
  display: flex;
  width: 516px;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.b5font {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  width: 121px;
}
.WATCHFONT {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
}

.series10 {
  width: 152px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Background 6 */

.background6 {
  background-image: url(/computer.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerr {
  display: flex;
  width: 257px;
  height: 130px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.bother {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.macbook {
  display: flex;
  height: 36px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: stretch;
}

/* Background 7 */

.background7 {
  background-image: url(/emoji.png);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.emoji {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  align-self: stretch;
}

.buttton {
  display: flex;
  width: 107px;
  height: 36px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.outline {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}

.fontss {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Background 8 */

.background8 {
  width: 100%;
  height: 500px;
  background-image: url(/phone.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.link2 {
  display: flex;
  width: 100%;
  height: 490px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.frame26 {
  display: flex;
  width: 314px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.frame261 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.typography {
  color: #1d1d1f;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.secondfont {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}

.burton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.learnd {
  display: flex;
  width: 126px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 999px;
  background: #0071e3;
}

.fonto {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Background 9 */

.background9 {
  width: 100%;
  height: 500px;
  background-image: url(/twoiphones.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Scroll */

.fullsize {
  display: block !important;
  width: 390px;
  height: 533px;
}

.scroll-container {
  width: 100vw;
  overflow: scroll;
}

.scroll {
  width: fit-content;
  gap: 16px;
}

.tablist {
  width: 220px;
  height: 8px;
}

.desktopscrbottom {
  width: 100vw;
  overflow: scroll;
}
/* Section 10 */

.section10 {
  width: 100%;
  height: 216px;
  background: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.images {
  border-radius: 8px;
  width: 114px;
  height: 114px;
  align-items: center;
}

.pic1 {
  width: 238px;
  height: 134px;
  background-color: #6529cf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apple {
  display: flex;
  width: 41px;
  height: 9.67px;
}
.fullsize {
  display: none;
}
.tabscroll {
  display: none;
}

.imagesize {
  display: flex;
  width: 238px;
  height: 134px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(29, 29, 31, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.padbottom {
  display: none;
  width: 768px;
  height: 262px;
  opacity: 1;
  padding-bottom: 28px;
  gap: 16px;
}
.padbox1 {
  width: 286px;
  height: 161px;
  background: rgba(101, 41, 207, 1);
}
.padbox2 {
  width: 286px;
  height: 161px;
  background: rgba(42, 64, 45, 1);
}
.padbox3 {
  width: 286px;
  height: 161px;
  background: rgba(4, 3, 3, 1);
}
.nav2 {
  display: none;
}
/*Desktop*/
.desktopscroll {
  display: none;
}
.desktopscrbotsize {
  width: 417px;
  height: 236px;
}
/* --------- */
@media (max-width: 700px) and (max-width: 769px) {
  .desktopscrbottom {
    display: none;
  }
  .ground4 {
    display: none;
  }
  .ground5 {
    display: none;
  }
  .ground6 {
    display: none;
  }
  .ground7 {
    display: none;
  }
  .ground8 {
    display: none;
  }
  .ground9 {
    display: none;
  }
  .desktopapple {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .scroll-container,
  .ground4,
  .ground5,
  .ground6,
  .ground7,
  .ground8,
  .ground9 {
    display: none;
  }
  .figuree1 {
    background-image: url(/sec1.jpg);
    background-size: cover;
    background-position: center;
    height: 692px;
  }
  .background2 {
    background-image: url(/iphone16horiz.png);
    background-size: cover;
    background-position: center;
    height: 692px;
  }
  .background3 {
    background-image: url(/ipadtab.png);
    background-size: cover;
    background-position: center;
    height: 692px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section10 {
    display: none !important;
  }
  .tabscroll {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: scroll;
  }
  .padbottom {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: scroll;
  }
  .desktopapple {
    display: none !important;
  }
  .desktopscrbottom {
    display: none;
  }
}
@media (min-width: 1024px) {
  .background3 {
    background-image: url(/pinkapple.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background1 {
    background-image: url(/ip16prodesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background2 {
    background-image: url(/iphone16desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background3 {
    grid-column: 1 / span 2;
  }
  .nav2 {
    display: flex !important;
    flex-direction: row;
    gap: 24px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.28px;
    justify-content: center;
  }
  .nav {
    display: none;
  }
  .tabscroll {
    display: none;
  }
  .tablist {
    display: none;
  }
  .grid4 {
    display: flex;
  }
  .background4 {
    display: none;
  }
  .background5 {
    display: none;
  }
  .background6 {
    display: none;
  }
  .background7 {
    display: none;
  }
  .background8 {
    display: none;
  }
  .background9 {
    display: none;
  }
  .scroll-container {
    display: none;
  }
  .tabscroll {
    display: none;
  }
  .padbottom {
    display: none !important;
  }
  .pic1 {
    display: none;
  }
  .scroll {
    display: none;
  }
  .frame231 {
    display: none !important;
  }
  .desktopapple {
    display: flex !important;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ground4 {
    background-image: url(ipadtab.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .ground5 {
    background-image: url(airprodesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .ground6 {
    background-image: url(watchdesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .ground7 {
    background-image: url(macairdesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .ground8 {
    background-image: url(tradeindesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .ground9 {
    background-image: url(carddesktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
  }
  .desktopscroll {
    display: flex !important;
    flex-direction: row;
    width: 100vw;
    overflow: scroll;
  }
  .desktopscrbottom {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
}
